---
layout: default
---
{% include header.html %}
<section class="container" id="about">

	<div class="hero-unit">
		<h1>Audio Grid</h1>
		<br />
		<p>
			This app is an html/javascript port of the great
			<a href="http://tonematrix.audiotool.com/">Tone Matrix</a>
			tool by
			<a href="http://andre-michelle.com/">Andre Michelle</a>.
		</p>
		<p>
			If you're interested in grid/matrix based audio tools, you may
			want to check out some of the hardware versions available:
			<br /><a href="http://monome.org/">Monome</a>
			<br /><a href="http://en.wikipedia.org/wiki/Tenori-on">Tenori-On</a>
		</p>
		<p>
			If you have feature requests (or find a bug), please
			<a href="https://github.com/skratchdot/audio-grid/issues">log an issue at Github</a>.
			You can also leave <a href="http://skratchdot.com/projects/audio-grid/">comments on the Project Page</a>
		</p>
	</div>

	<div style="width: 185px; margin: 50px auto 0;">
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
		</div>
	</div>

</section>
{% include footer.html %}