<div class="tab-pane" id="adshr">
	<h4>Envelope Settings:</h4>	
	<div>
		<strong>Attack:</strong>
		<em id="adshr-attack-display" class="pull-right">&nbsp;</em>
	</div>
	<div data-adshr="a" id="adshr-attack-container"></div>

	<div>
		<strong>Decay:</strong>
		<em id="adshr-decay-display" class="pull-right">&nbsp;</em>
	</div>
	<div data-adshr="d" id="adshr-decay-container"></div>

	<div>
		<strong>Sustain:</strong>
		<em id="adshr-sustain-display" class="pull-right">&nbsp;</em>
	</div>
	<div data-adshr="s" id="adshr-sustain-container"></div>

	<div>
		<strong>Hold:</strong>
		<em id="adshr-hold-display" class="pull-right">&nbsp;</em>
	</div>
	<div data-adshr="h" id="adshr-hold-container"></div>

	<div>
		<strong>Release:</strong>
		<em id="adshr-release-display" class="pull-right">&nbsp;</em>
	</div>
	<div data-adshr="r" id="adshr-release-container"></div>
	<canvas id="adshr-canvas"></canvas>
</div>